@import "src/shared/variables";

:host {
  .container {
    max-height: fit-content;
  }
  .main-container {
    background-color: $white-not-white;
    border-radius: 24px;
    padding: 1rem;
  }

  p-dropdown {
    ::ng-deep .p-dropdown {
      width: 75%;
    }
  }
}
