<div class="login-block h-100 w-100">
  <div class="container">
    <div class="row">
      <div
        class="login-sec"
        [ngClass]="{
          'col-7': currentSize === sizes.XL || currentSize === sizes.LG
        }"
      >
        <h1 class="text-center">{{ "T_AUTOMATAPI" | translate }}</h1>
        <div class="row h-100">
          <div class="col-12 h-75">
            <div class="row h-75 w-100 align-items-center">
              <div class="col-12 px-0">
                <div class="row mx-0 mb-3">
                  <h4 class="text-center">
                    {{ "T_CHG_PWD_PROCESS" | translate }}
                  </h4>
                </div>
                <form class="row w-100 mx-0">
                  <div class="col-12 px-0">
                    <div class="row mx-0">
                      <div class="col-6 pr-0 d-grid justify-content-end">
                        <div class="row">
                          <span>
                            <h3>{{ "T_NEW_PWD" | translate }}</h3>
                          </span>
                        </div>
                        <div class="row">
                          <div class="field">
                            <p-password
                              formControlName="password"
                              placeholder="{{
                                'T_PWD_PLACEHOLDER' | translate
                              }}"
                              [toggleMask]="true"
                            ></p-password>
                            <div class="row"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <span>
                            <h3>{{ "T_REPEAT_PWD" | translate }}</h3>
                          </span>
                        </div>
                        <div class="row">
                          <div class="field">
                            <p-password
                              formControlName="repeatPassword"
                              placeholder="{{
                                'T_REPEAT_PWD_PLACEHOLDER' | translate
                              }}"
                              [toggleMask]="true"
                            ></p-password>
                            <div class="row"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-3 w-100 mx-0">
                      <div class="col-3"></div>
                      <div class="col-6 d-flex justify-content-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-send"
                          iconPos="right"
                          [label]="'T_CHG_PWD' | translate"
                          type="submit"
                          [loading]="false"
                          class="p-button-rounded p-button-warning"
                        ></button>
                      </div>
                      <div class="col-3"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row h-100">
              <div class="col-12">
                <div class="row mx-0">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <p-divider></p-divider>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <span>
                      {{ "T_DONT_REM" | translate }}
                    </span>
                    <h4 class="d-inline" (click)="goToRegister()">
                      {{ "T_CREATE_NEW" | translate }}
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <small>{{ "T_OR" | translate }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <h4 class="d-inline" (click)="goToLogin()">
                      {{ "T_GO_LOGIN" | translate }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentSize === sizes.XL"
        class="banner-sec"
        [ngClass]="{
          'col-5': currentSize === sizes.XL
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="row py-5">
              <div class="col-3"></div>
              <div class="col-6">
                <img src="assets/icons/Quote.svg" alt="Quote" />
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
