<div class="login-block h-100 w-100">
  <div class="container">
    <div class="row">
      <div
        class="login-sec"
        [ngClass]="{
          'col-7': currentSize === sizes.XL || currentSize === sizes.LG
        }"
      >
        <h1 class="text-center">{{ "T_AUTOMATAPI" | translate }}</h1>
        <div class="row h-100 mx-0">
          <div class="col-12 h-75">
            <div class="row h-75 align-items-center">
              <div class="col-12 px-0">
                <div class="row mx-0 mb-3">
                  <span>
                    <h3 class="text-center">
                      {{ "T_CHG_PWD_PROCESS" | translate }}
                    </h3>
                  </span>
                </div>
                <form
                  class="row w-100 mx-0"
                  [formGroup]="changePasswordForm"
                  (ngSubmit)="onChangePasswordSubmit()"
                >
                  <div class="col-12 px-0">
                    <div class="row mx-0">
                      <div class="col-6 pr-0 d-grid justify-content-end">
                        <div class="row">
                          <span>
                            <h3>{{ "T_NEW_PWD" | translate }}</h3>
                          </span>
                        </div>
                        <div class="row">
                          <div class="field">
                            <p-password
                              formControlName="password"
                              placeholder="{{
                                'T_PWD_PLACEHOLDER' | translate
                              }}"
                              [toggleMask]="true"
                              ><ng-template pTemplate="header">
                                <h6>{{ "T_PICK_PWD" | translate }}</h6>
                              </ng-template>
                              <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">{{ "T_REQ" | translate }}</p>
                                <ul
                                  class="pl-2 ml-2 mt-0"
                                  style="line-height: 1.5"
                                >
                                  <li>{{ "T_LOWER" | translate }}</li>
                                  <li>{{ "T_UPPER" | translate }}</li>
                                  <li>{{ "T_NUMBER" | translate }}</li>
                                  <li>{{ "T_SYMBOL" | translate }}</li>
                                  <li>{{ "T_8_CHAR" | translate }}</li>
                                </ul>
                              </ng-template></p-password
                            >
                            <div class="row">
                              <small
                                id="pwd-help"
                                class="p-error block"
                                *ngIf="changePasswordForm.get('password').errors?.[ 'required' ] && changePasswordForm.get('password').touched"
                                >{{ "error.T_PWD_REQ" | translate }}
                              </small>
                              <small
                                id="pwd-help"
                                class="p-error block"
                                *ngIf="changePasswordForm.get('password').errors?.[ 'pattern' ] && changePasswordForm.get('password').touched"
                                >{{ "error.T_PWD_INVALID" | translate }}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <span>
                            <h3>{{ "T_REPEAT_PWD" | translate }}</h3>
                          </span>
                        </div>
                        <div class="row">
                          <div class="field">
                            <p-password
                              formControlName="repeatPassword"
                              placeholder="{{
                                'T_REPEAT_PWD_PLACEHOLDER' | translate
                              }}"
                              [toggleMask]="true"
                              ><ng-template pTemplate="header">
                                <h6>{{ "T_PICK_PWD" | translate }}</h6>
                              </ng-template>
                              <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">{{ "T_REQ" | translate }}</p>
                                <ul
                                  class="pl-2 ml-2 mt-0"
                                  style="line-height: 1.5"
                                >
                                  <li>{{ "T_LOWER" | translate }}</li>
                                  <li>{{ "T_UPPER" | translate }}</li>
                                  <li>{{ "T_NUMBER" | translate }}</li>
                                  <li>{{ "T_SYMBOL" | translate }}</li>
                                  <li>{{ "T_8_CHAR" | translate }}</li>
                                </ul>
                              </ng-template></p-password
                            >
                            <div class="row">
                              <small
                                id="pwd2-help"
                                class="p-error block"
                                *ngIf="changePasswordForm.get('repeatPassword').errors?.[ 'required' ] && changePasswordForm.get('repeatPassword').touched"
                                >{{ "error.T_PWD_REQ" | translate }}
                              </small>
                              <small
                                id="pwd2-help"
                                class="p-error block"
                                *ngIf="changePasswordForm.get('repeatPassword').errors?.[ 'pattern' ] && changePasswordForm.get('repeatPassword').touched"
                                >{{ "error.T_PWD_INVALID" | translate }}
                              </small>
                              <small
                                id="pwd2-help"
                                class="p-error block"
                                *ngIf="invalidPasswords"
                                >{{ "error.T_PWDS_NO_MATCH" | translate }}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-3 w-100 mx-0">
                      <div class="col-3"></div>
                      <div class="col-6 d-flex justify-content-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-send"
                          iconPos="right"
                          [label]="'T_CHG_PWD' | translate"
                          type="submit"
                          [loading]="waitingState"
                          class=" p-button-info"
                        ></button>
                      </div>
                      <div class="col-3"></div>
                    </div>
                  </div>
                </form>
                <app-alert
                  *ngIf="showDialog"
                  [message]="message"
                  [show]="showDialog"
                  [status]="statusCode"
                  (Hide)="manageHide($event)"
                ></app-alert>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentSize === sizes.XL"
        class="banner-sec"
        [ngClass]="{
          'col-5': currentSize === sizes.XL
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="row py-5">
              <div class="col-3"></div>
              <div class="col-6">
                <img [src]="chooseQuote()" alt="Quote" />
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
