$primary-color: #f9a826;
$white: #ffffff;
$black: #000000;
$back-dashboard: #C4C6C1;
$black-not-black: #141414;

//Pallete colors
$dark-blue: #0F0D35;
$light-blue: #204FA1;
$white-not-white: #EAEBE7;
$orange: #FAB464;
$blue-transparent: rgba(40, 108, 225, 0.65);
