$primary-color: #f9a826;
$white: #ffffff;
$black: #000000;
$transparent: rgb(219 219 219 / 0%);
$back-dashboard: #ececec;
$black-not-black: #141414;

//Pallete colors
$dark-blue: #0f0d35;
$light-blue: #204fa1;
$white-not-white: #dbdbdbc7;
$orange: #fab464;
$blue-transparent: rgba(40, 108, 225, 0.65);
$green: #1c633a;
$green-transparent: rgba(0, 200, 83, 0.65);

$error-color: #e9967a;
$error-color-effects: #b36b53;

$error-color-dash: #eb3f3f;
$error-color-effects-dash: #d96565;

$back-modals: rgb(239 239 239);

