<div class="login-block h-100 w-100">
  <div class="container">
    <div class="row">
      <div
        class="login-sec"
        [ngClass]="{
          'col-7': currentSize === sizes.XL || currentSize === sizes.LG
        }"
      >
        <h1 class="text-center">{{ "T_AUTOMATAPI" | translate }}</h1>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12" *ngIf="active === 'sign_in'">
                <app-login class="p-5"></app-login>
              </div>
              <div class="col-12" *ngIf="active === 'sign_up'">
                <app-register class="p-5"></app-register>
              </div>
              <div class="col-12" *ngIf="active === 'forgot_pwd'">
                <app-forgot-password></app-forgot-password>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="text-center">
                <span
                  >{{ "T_NO_ACCOUNT" | translate }}
                  <h2 (click)="active = 'sign_up'" class="d-inline">
                    {{ "T_REGISTER_NOW" | translate }}
                  </h2>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="row w-100">
                  <app-selector
                    [active]="active"
                    (activeChange)="onActiveChange($event)"
                  ></app-selector>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row">
              <div class="text-center">
                <span
                  >{{ "T_FORGET_PWD" | translate }}
                  <h2 (click)="active = 'forgot_pwd'" class="d-inline">
                    {{ "T_REM_PWD" | translate }}
                  </h2>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentSize === sizes.XL"
        class="banner-sec"
        [ngClass]="{
          'col-5': currentSize === sizes.XL
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="row py-5">
              <div class="col-3"></div>
              <div class="col-6">
                <img src="assets/icons/Quote.svg" alt="Quote" />
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
