<div class="login-block h-100 w-100">
  <div class="container">
    <div class="row">
      <div
        class="login-sec"
        [ngClass]="{
          'col-7': currentSize === sizes.XL || currentSize === sizes.LG
        }"
      >
        <h1 class="text-center">{{ "T_AUTOMATAPI" | translate }}</h1>
        <div class="row">
          <div class="col-12">
            <div class="row" [ngClass]="{ 'pb-5': active === 'sign_in' }">
              <div class="col-12" *ngIf="active === 'sign_in'">
                <app-login class=""></app-login>
              </div>
              <div class="col-12" *ngIf="active === 'sign_up'">
                <app-register></app-register>
              </div>
            </div>
          </div>
        </div>
        <div class="row" [ngClass]="{ 'mt-2': active === 'sign_up' }">
          <div class="col-12">
            <div class="row mb-2" *ngIf="active !== 'sign_up'">
              <div class="text-center">
                <span
                  >{{ "T_NO_ACCOUNT" | translate }}
                  <h2 (click)="active = 'sign_up'" class="d-inline">
                    {{ "T_REGISTER_NOW" | translate }}
                  </h2>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <div class="row w-100">
                  <app-selector
                    class="d-flex justify-content-end"
                    [active]="active"
                    (activeChange)="onActiveChange($event)"
                  ></app-selector>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row mt-2" *ngIf="active !== 'forgot_pwd'">
              <div class="text-center">
                <small (click)="goToRemPwd()" class="d-inline">
                  {{ "T_REM_PWD" | translate }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentSize === sizes.XL"
        class="banner-sec"
        [ngClass]="{
          'col-5': currentSize === sizes.XL
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="row py-5">
              <div class="col-3"></div>
              <div class="col-6">
                <img src="assets/icons/Quote.svg" alt="Quote" />
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
