@import "src/shared/variables";
:host {
  .login-block {
    float: left;
    padding-top: 100px;
    background: linear-gradient(
      116.26deg,
      #4266a5 0.81%,
      #8baeec 28.7%,
      #7195d2 67.97%,
      #204fa1 100%
    );
  }
  h2 {
    cursor: pointer;
  }
  .banner-sec {
    background-color: $light-blue;
    min-height: 800px;
    border-radius: 0 10px 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .container {
    background: $orange;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .login-sec {
    padding: 50px 30px;
    position: relative;
  }
}
