@import "src/shared/variables";
:host {
  .login-block {
    float: left;
    width: 100%;
    padding: 200px 0;
    background: linear-gradient(
      116.26deg,
      #4266a5 0.81%,
      #8baeec 28.7%,
      #7195d2 67.97%,
      #204fa1 100%
    );
  }
  h2{
    cursor: pointer;
}
  .banner-sec {
    background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg)
      no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
  }
  .container {
    background: $orange;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .carousel-inner {
    border-radius: 0 10px 10px 0;
  }
  .carousel-caption {
    text-align: left;
    left: 5%;
  }
  .login-sec {
    padding: 50px 30px;
    position: relative;
  }
  .login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
  }
  .login-sec .copy-text i {
    color: #feb58a;
  }
  .login-sec .copy-text a {
    color: #e36262;
  }

  .btn-login {
    background: #de6262;
    color: #fff;
    font-weight: 600;
  }
  .banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
  }
  .banner-text h2 {
    color: #fff;
    font-weight: 600;
  }
  .banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #fff;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
  }
  .banner-text p {
    color: #fff;
  }
}
