<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div class="row mx-0">
        <span>
          <h3 class="text-center">
            {{ "T_SIGN_UP_NOW" | translate }}
          </h3>
        </span>
      </div>
      <form
        class="row py-3 px-0"
        (ngSubmit)="OnRegisterSubmit($event)"
        [formGroup]="registerForm"
      >
        <div class="col-12 d-grid justify-content-center">
          <div class="row mb-2">
            <div class="col-6">
              <div class="row">
                <span>
                  <h3>{{ "T_EMAIL" | translate }}</h3>
                </span>
              </div>
              <div class="row">
                <div class="field col-12">
                  <span class="p-input-icon-right">
                    <i class="pi pi-envelope"></i>
                    <input
                      formControlName="email"
                      type="email"
                      id="email"
                      placeholder="{{ 'T_EMAIL_PLACEHOLDER' | translate }}"
                      pInputText
                    />
                  </span>
                  <div class="row">
                    <small
                      id="email-help"
                      class="p-error block"
                      *ngIf="registerForm.get('email').errors?.[ 'required' ] && registerForm.get('email').touched"
                      >{{ "error.T_EMAIL_REQ" | translate }}
                    </small>
                    <small
                      id="email-help"
                      class="p-error block"
                      *ngIf="registerForm.get('email').errors?.[ 'email' ]"
                    >
                      {{ "error.T_EMAIL_INVALID" | translate }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <span>
                  <h3>{{ "T_USERNAME" | translate }}</h3>
                </span>
              </div>
              <div class="row">
                <div class="field col-12">
                  <span class="p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input
                      formControlName="username"
                      type="text"
                      id="username"
                      placeholder="{{ 'T_USERNAME_PLACEHOLDER' | translate }}"
                      pInputText
                    />
                  </span>
                  <div class="row">
                    <small
                      id="username-help"
                      class="p-error block"
                      *ngIf="registerForm.get('username').errors?.[ 'required' ] && registerForm.get('username').touched"
                      >{{ "error.T_USERNAME_REQ" | translate }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <span>
                      <h3>{{ "T_NAME" | translate }}</h3>
                    </span>
                  </div>
                  <div class="row">
                    <div class="field">
                      <span class="p-input-icon-right">
                        <i class="pi pi-user"></i>
                        <input
                          formControlName="name"
                          type="text"
                          id="name"
                          placeholder="{{ 'T_NAME_PLACEHOLDER' | translate }}"
                          pInputText
                        />
                      </span>
                      <div class="row">
                        <small
                          id="name-help"
                          class="p-error block"
                          *ngIf="registerForm.get('name').errors?.[ 'required' ] && registerForm.get('name').touched"
                          >{{ "error.T_NAME_REQ" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <span>
                      <h3>{{ "T_LAST_NAME" | translate }}</h3>
                    </span>
                  </div>
                  <div class="row">
                    <div class="field">
                      <span class="p-input-icon-right">
                        <i class="pi pi-user"></i>
                        <input
                          formControlName="surname"
                          type="text"
                          id="lastName"
                          placeholder="{{
                            'T_LAST_NAME_PLACEHOLDER' | translate
                          }}"
                          pInputText
                        />
                      </span>
                      <div class="row">
                        <small
                          id="surname-help"
                          class="p-error block"
                          *ngIf="registerForm.get('surname').errors?.[ 'required' ] && registerForm.get('surname').touched"
                          >{{ "error.T_SURNAME_REQ" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <span>
                      <h3>{{ "T_PWD" | translate }}</h3>
                    </span>
                  </div>
                  <div class="row">
                    <div class="field">
                      <p-password
                        formControlName="password"
                        placeholder="{{ 'T_PWD_PLACEHOLDER' | translate }}"
                        [toggleMask]="true"
                        [feedback]="false"
                      ></p-password>
                      <div class="row">
                        <small
                          id="pwd-help"
                          class="p-error block"
                          *ngIf="registerForm.get('password').errors?.[ 'required' ] && registerForm.get('password').touched"
                          >{{ "error.T_PWD_REQ" | translate }}
                        </small>
                        <small
                          id="pwd-help"
                          class="p-error block"
                          *ngIf="registerForm.get('password').errors?.[ 'pattern' ] && registerForm.get('password').touched"
                          >{{ "error.T_PWD_INVALID" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <span>
                      <h3>{{ "T_REPEAT_PWD" | translate }}</h3>
                    </span>
                  </div>
                  <div class="row">
                    <div class="field">
                      <p-password
                        formControlName="repeatPassword"
                        placeholder="{{
                          'T_REPEAT_PWD_PLACEHOLDER' | translate
                        }}"
                        [toggleMask]="true"
                        [feedback]="false"
                      ></p-password>
                      <div class="row">
                        <small
                          id="pwd2-help"
                          class="p-error block"
                          *ngIf="registerForm.get('repeatPassword').errors?.[ 'required' ] && registerForm.get('repeatPassword').touched"
                          >{{ "error.T_PWD_REQ" | translate }}
                        </small>
                        <small
                          id="pwd2-help"
                          class="p-error block"
                          *ngIf="registerForm.get('repeatPassword').errors?.[ 'pattern' ] && registerForm.get('repeatPassword').touched"
                          >{{ "error.T_PWD_INVALID" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <span>
                      <h3>{{ "T_BIRTHDATE" | translate }}</h3>
                    </span>
                  </div>
                  <div class="row">
                    <div class="field">
                      <span class="p-input-icon-right">
                        <i class="pi pi-calendar"></i>
                        <input
                          formControlName="birthdate"
                          type="text"
                          id="calendar"
                          placeholder="{{ 'T_DATE_PLACEHOLDER' | translate }}"
                          pInputText
                        />
                      </span>
                      <div class="row">
                        <small
                          id="date-help"
                          class="p-error block"
                          *ngIf="registerForm.get('birthdate').errors?.[ 'required' ] && registerForm.get('birthdate').touched"
                          >{{ "error.T_DATE_REQ" | translate }}
                        </small>
                        <small
                          id="date-help"
                          class="p-error block"
                          *ngIf="registerForm.get('birthdate').errors?.[ 'pattern' ] && registerForm.get('birthdate').touched"
                          >{{ "error.T_DATE_INVALID" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row mb-4"></div>
                  <div class="row">
                    <div class="field w-75">
                      <button type="submit" class="btn btn-warning w-100">
                        <span>
                          {{ "T_SIGN_UP" | translate }}
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
