@import "src/shared/variables";

h3{
  font-size: 1.25rem;
  font-weight: 600;
}

button {
  border-radius: 20px;
  padding: 1rem;
}

.btn-warning{
  background-color: $primary-color;
  color: $white;
}

:host ::ng-deep p-calendar .p-button{
  background-color: $light-blue;
}

:host ::ng-deep .p-button.p-button-warning {
  background-color: $light-blue;
  border-color: $light-blue;
  color: $white;
}

:host ::ng-deep .p-button.p-button-warning:hover {
  background-color: $blue-transparent;
  border-color: $blue-transparent;
  color: $white;
}
