@import "src/shared/variables";
:host {
  .main {
    border-radius: 40px;
    background-color: $white;
  }

  button {
    width: 90%;
    border-radius: 30px;
    padding: 1rem;
  }

  ::ng-deep .p-button.p-button-text{
    color: $light-blue;
    font-weight: 600;
    font-size: 1.25rem;

    &:hover {
      color: $blue-transparent;
    }
  }
  ::ng-deep .p-button.p-button-info {
    background-color: $light-blue;
    border-color: $light-blue;
    color: $white;

    &:hover {
      background-color: $blue-transparent;
      border-color: $blue-transparent;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $blue-transparent;
    }
  }

}
