@import "src/shared/variables";

:host {

  .main-container {
    background-color: $white-not-white;
    border-radius: 24px;
    padding: 1rem;
  }

  mat-horizontal-stepper {
    width: 100%;
    background-color: $white-not-white;
  }

  .grid {
    grid-template-columns: auto auto auto;
  }
  .item {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  ::ng-deep .mat-horizontal-content-container {
    overflow: unset;
  }

  label{
    margin-left: 10px;
  }
}
