<div class="login-block h-100 w-100">
  <div class="container">
    <div class="row">
      <div
        class="login-sec"
        [ngClass]="{
          'col-7': currentSize === sizes.XL || currentSize === sizes.LG
        }"
      >
        <h1 class="text-center">{{ "T_AUTOMATAPI" | translate }}</h1>
        <div class="row h-100 mx-0">
          <div class="col-12 h-75">
            <div class="row h-75 align-items-center">
              <div class="col-12 px-0">
                <div class="row mx-0 mb-3">
                  <span>
                    <h3 class="text-center">
                      {{ "T_REM_PWD_PROCESS" | translate }}
                    </h3>
                    <p class="text-center w-100">
                      {{ "T_REM_PWD_STEPS" | translate }}
                    </p>
                  </span>
                </div>
                <form
                  class="row w-100 mx-0"
                  [formGroup]="remPasswordForm"
                  (ngSubmit)="remPasswordSubmit()"
                >
                  <div class="col-12 px-0">
                    <div class="row mx-0">
                      <div class="col-6 px-0 d-grid justify-content-end">
                        <div class="row mx-0">
                          <div class="col-2"></div>
                          <span class="col-6">
                            <h3>{{ "T_EMAIL" | translate }}</h3>
                          </span>
                          <div class="col-3"></div>
                        </div>
                        <div class="row mx-0">
                          <div class="col-2"></div>
                          <div class="field col-7">
                            <span class="p-input-icon-right">
                              <i class="pi pi-envelope"></i>
                              <input
                                formControlName="email"
                                type="email"
                                id="email"
                                placeholder="{{
                                  'T_EMAIL_PLACEHOLDER' | translate
                                }}"
                                pInputText
                              />
                            </span>
                            <div class="row">
                              <small
                                id="email-help"
                                class="p-error block"
                                *ngIf="remPasswordForm.get('email').errors?.[ 'required' ] && remPasswordForm.get('email').touched"
                                >{{ "error.T_EMAIL_REQ" | translate }}
                              </small>
                              <small
                                id="email-help"
                                class="p-error block"
                                *ngIf="remPasswordForm.get('email').errors?.[ 'email' ]"
                              >
                                {{ "error.T_EMAIL_INVALID" | translate }}
                              </small>
                            </div>
                          </div>
                          <div class="col-3"></div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <span class="col-6"
                            ><h3>{{ "T_USERNAME" | translate }}</h3>
                          </span>
                          <div class="col-3"></div>
                        </div>
                        <div class="row">
                          <div class="field col-7">
                            <span class="p-input-icon-right">
                              <i class="pi pi-user"></i>
                              <input
                                formControlName="username"
                                type="text"
                                id="username"
                                placeholder="{{
                                  'T_USERNAME_PLACEHOLDER' | translate
                                }}"
                                pInputText
                              />
                            </span>
                            <div class="row">
                              <small
                                id="email-help"
                                class="p-error block"
                                *ngIf="remPasswordForm.get('username').errors?.[ 'required' ] && remPasswordForm.get('username').touched"
                                >{{ "error.T_USERNAME_REQ" | translate }}
                              </small>
                            </div>
                          </div>
                          <div class="col-3"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-3 w-100 mx-0">
                      <div class="col-3"></div>
                      <div class="col-6 d-flex justify-content-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-send"
                          iconPos="right"
                          [label]="'T_SEND_EMAIL' | translate"
                          type="submit"
                          [loading]="waitingState"
                          class="p-button-info"
                        ></button>
                      </div>
                      <div class="col-3"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row h-100 mt-3">
              <div class="col-12">
                <div class="row mx-0">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <p-divider align="center"
                      ><b>{{ "T_OR" | translate }}</b></p-divider
                    >
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <span>
                      {{ "T_DONT_REM" | translate }}
                    </span>
                    <h4 class="d-inline" (click)="goToRegister()">
                      {{ "T_CREATE_NEW" | translate }}
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <small>{{ "T_OR" | translate }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <h4 class="d-inline" (click)="goToLogin()">
                      {{ "T_GO_LOGIN" | translate }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <app-alert
              *ngIf="showDialog"
              [show]="showDialog"
              [status]="statusCode"
              [message]="message"
              (Hide)="manageHide()"
            ></app-alert>
          </div>
        </div>
      </div>
      <div
        *ngIf="currentSize === sizes.XL"
        class="banner-sec"
        [ngClass]="{
          'col-5': currentSize === sizes.XL
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="row py-5">
              <div class="col-3"></div>
              <div class="col-6">
                <img [src]="chooseQuote()" alt="Quote" />
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
