@import "src/shared/variables";

:host {
  h1 {
    margin: 0;
    cursor: pointer;
  }
  ::ng-deep p-menu {
    .p-menu {
      border-radius: 10px;
    }
    .p-menu .p-menuitem-link:hover {
      border-radius: 7px 7px 0px 0px;
      background: $white-not-white;
    }
    .p-menu .p-menu-list li:last-child:hover {
      border-radius: 0px 0px 7px 7px;
      background: $white-not-white;
    }
  }
  ::ng-deep p-avatar {
    cursor: pointer;
    .p-avatar-circle {
      background-color: $primary-color;
    }
    .p-avatar-text {
      color: $black-not-black;
      font-weight: bold;
    }
  }
}
