@import "src/shared/variables";

:host {
  h5{
    font-weight: 600;
  }
  .container {
    max-height: fit-content;
  }
  .main-container {
    background-color: $white-not-white;
    border-radius: 24px;
    padding: 1rem;
  }

  p-image {
    ::ng-deep .p-image {
      ::ng-deep img {
        background-color: $white;
        border: 5px solid $black-not-black;
        border-radius: 50%;
      }
    }
  }

  p-avatar {
    ::ng-deep .p-avatar.p-avatar-circle {
      background-color: $white;
      border: 5px solid $black-not-black;
      width: 14rem;
      height: 14rem;
      ::ng-deep span {
        font-size: 5rem;
      }
    }
  }
}

::ng-deep .p-confirm-popup-footer {
  .p-button-text {
    color: $light-blue;
    font-weight: 600;
    font-size: 1.25rem;

    &:hover {
      color: $blue-transparent;
    }
  }
  .p-confirm-popup-accept {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: $light-blue;
    border-color: $light-blue;
    color: $white;

    &:hover {
      background-color: $blue-transparent;
      border-color: $blue-transparent;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $blue-transparent;
    }
  }
}

::ng-deep .p-confirm-popup-icon {
  color: $primary-color;
}

::ng-deep .p-confirm-popup {
  border-radius: 12px;
}
