@import "src/shared/variables";

:host {
  .container {
    max-height: fit-content;
  }
  .main-container {
    background-color: $white-not-white;
    border-radius: 24px;
    padding: 1rem;
  }

  p-image {
    ::ng-deep .p-image {
      ::ng-deep img {
        background-color: $white;
        border: 5px solid $black-not-black;
        border-radius: 50%;
      }
    }
  }

  p-avatar {
    ::ng-deep .p-avatar.p-avatar-circle {
      background-color: $white;
      border: 5px solid $black-not-black;
      width: 14rem;
      height: 14rem;
      ::ng-deep span {
        font-size: 5rem;
      }
    }
  }
}
