@import "src/shared/variables";
:host {
  label {
    margin-left: 10px;
    margin-right: 15px;
  }

  ::ng-deep p-calendar .p-button {
    background-color: $light-blue;
    border-radius: 0px 10px 10px 0px;

    &:hover {
      background-color: $blue-transparent;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $blue-transparent;
    }
  }

   ::ng-deep p-divider {
    .p-divider-content {
      background-color: $back-modals;
    }
  }

  ::ng-deep p-dialog {
    .p-dialog {
      border-radius: 20px;
      border: 1px solid $black;
    }
    .p-dialog-content {
      overflow: unset;
      background-color: $back-modals;
    }
    .p-dialog-header {
      border-radius: 20px 20px 0px 0px;
      -moz-border-radius: 20px 20px 0px 0px;
      -webkit-border-radius: 20px 20px 0px 0px;
      padding-bottom: 0;
      background-color: $back-modals;
    }

    .p-dialog-footer {
      border-radius: 0px 0px 20px 20px;
      -moz-border-radius: 0px 0px 20px 20px;
      -webkit-border-radius: 0px 0px 20px 20px;
      background-color: $back-modals;
    }
  }

  .border-bottom {
    border-bottom: 1px solid $black !important;
  }

  ::ng-deep p-button {
    .p-button-info {
      background-color: $light-blue;
      border-color: $light-blue;
      color: $white;
    }

    .p-button.p-button-info:hover {
      background-color: $blue-transparent;
      border-color: $blue-transparent;
      color: $white;
    }

    .p-button.p-button-info:focus {
      box-shadow: 0 0 0 0.2rem $blue-transparent;
    }
  }
}
