<div class="main-container h-100">
  <mat-toolbar color="primary" class="topbar telative">
    <div class="navbar-header">
      <span class="navbar-brand d-flex h-100">
        <b>
          <img
            src="assets/icons/logo.svg"
            alt="homepage"
            [ngStyle]="{ width: '50px' }"
          />
        </b>
        <span class="mx-3 pt-2">
          <h1 class="d-inline title">{{ "T_AUTOMATAPI" | translate }}</h1>
        </span>
        <span class="pt-2">
          <i class="pi pi-bars icon" (click)="snav.toggle()"></i>
        </span>
      </span>
    </div>

    <span class="w-100 d-flex justify-content-end">
      <app-header></app-header
    ></span>
  </mat-toolbar>

  <mat-sidenav-container [ngStyle]="{ height: '876px' }">
    <mat-sidenav
      #snav
      id="snav"
      class="dark-sidebar pl-xs"
      [mode]="'side'"
      fixedTopGap="0"
      [opened]="true"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content h-100">
        <app-remember-password></app-remember-password>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="primary" class="bottombar telative">
    <div class="row w-100">
      <div class="col-1">
        <small> {{ "T_VERSION" | translate }} 0.1.0 </small>
      </div>
      <div class="col-10"></div>
      <div class="col-1">
        <small>
          {{ "T_AUTOMATAPI" | translate }}
        </small>
        <mat-icon class="mt-1">copyright</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</div>
